#mother-board {
    position: relative;
    width: 400px;
    border: 1;
}
.suggestion-button {
    border: 1;
    font-size: 100%;
    width: 110px;
    height: 25px;
    border: 1px grey;
    border-style: solid;
    text-align: middle;
    margin-right: 15px;
    margin-bottom: 5px;
}

#search-box{
    display: block;
    width: 346px;
    border: 1px grey;
    border-style: solid;
    font-size: 100%;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px 6px;
}
li.match-item {
    cursor: pointer;
}
li.match-item:hover {
    background-color: #e5e5e5;
}
.result-panel{
    display: none;
    font-size: 100%;
    position:absolute;
    width:347px;
    top:-155px;
    max-height: 150px;
    min-height: 15px;
    background-color: #fff;
    overflow-y: scroll;
    border: 1px grey;
    border-style: solid solid solid none;
    padding: 2px 6px;
    z-index: 7;
}
.show{
    display: block;
}
